In [1]:
import pandas as pd
import numpy as np

### Series ###

In [2]:
a=pd.Series([1,2,3,4,5],index=['A','B','C','D','E'],dtype='float')

In [3]:
a

A    1.0
B    2.0
C    3.0
D    4.0
E    5.0
dtype: float64

In [4]:
data=[100,200,300,400,500]
index_label=['A','B','C','D','E']

In [5]:
series1=pd.Series(data,index=index_label)

In [6]:
series1

A    100
B    200
C    300
D    400
E    500
dtype: int64

In [7]:
b=series1['A']
b
# accessing single element from the series

100

In [8]:
c=series1[['A','B','C','D']]
# Accessing miltiple elememts from the series

In [9]:
c.ndim

1

In [10]:
num=pd.Series([10,20,30,40,50])
print("Original series:\n",num)
print("Adding 5 in the Original series:\n",num+5)
print("Multiply 2 Original series:\n",num*2)
print("Square of Original series:\n",num**0.5)

Original series:
 0    10
1    20
2    30
3    40
4    50
dtype: int64
Adding 5 in the Original series:
 0    15
1    25
2    35
3    45
4    55
dtype: int64
Multiply 2 Original series:
 0     20
1     40
2     60
3     80
4    100
dtype: int64
Square of Original series:
 0    3.162278
1    4.472136
2    5.477226
3    6.324555
4    7.071068
dtype: float64

In [11]:
data_with_NaN=pd.Series([10,np.nan,30,np.nan,50],index=['A','B','C','D','E'])

In [12]:
data_with_NaN.notnull()

A     True
B    False
C     True
D    False
E     True
dtype: bool

In [13]:
print("Original series with missing values:", data_with_NaN)
print("Check for Nan values :", data_with_NaN.isnull())

Original series with missing values: A    10.0
B     NaN
C    30.0
D     NaN
E    50.0
dtype: float64
Check for Nan values : A    False
B     True
C    False
D     True
E    False
dtype: bool

In [14]:
filled_series=data_with_NaN.fillna(0)

In [15]:
print("Filling missing values with 0:",filled_series)

Filling missing values with 0: A    10.0
B     0.0
C    30.0
D     0.0
E    50.0
dtype: float64

In [16]:
dropped_series= data_with_NaN.dropna()
print("Droping missing values:", dropped_series)

Droping missing values: A    10.0
C    30.0
E    50.0
dtype: float64

In [17]:
Duplicate=pd.Series([10,10,30,50,50],index=['A','B','C','D','E'])

In [18]:
Duplicate

A    10
B    10
C    30
D    50
E    50
dtype: int64

In [19]:
Duplicate.duplicated()

A    False
B     True
C    False
D    False
E     True
dtype: bool

In [20]:
df=pd.DataFrame(Duplicate,index=['A','B','C','D','E'])

In [21]:
df.drop_duplicates()

    0
A  10
C  30
D  50

In [22]:
data=pd.Series([12,45,78,23,56,89,34,67,90])
data

0    12
1    45
2    78
3    23
4    56
5    89
6    34
7    67
8    90
dtype: int64

In [23]:
data=pd.Series([12,45,78,65,43,89,51,39,24,93])
print("Original data:\n",data)

Original data:
 0    12
1    45
2    78
3    65
4    43
5    89
6    51
7    39
8    24
9    93
dtype: int64

In [24]:
double_valiues=data.apply(lambda x: x*2)
double_valiues

0     24
1     90
2    156
3    130
4     86
5    178
6    102
7     78
8     48
9    186
dtype: int64

In [25]:
print("Sum of the series:\n",data.sum())
print("Mean of the series:\n",data.mean())
print("Standard Deviation  of the series:\n",data.std())
print("Minimum value of the series:\n",data.min())
print("Maximum value of the series:\n",data.max())
print("Median value of the series:\n",data.median())
print("Count of elemens:\n",data.count())

Sum of the series:
 539
Mean of the series:
 53.9
Standard Deviation  of the series:
 26.96273148048782
Minimum value of the series:
 12
Maximum value of the series:
 93
Median value of the series:
 48.0
Count of elemens:
 10

### DataFrame ###

In [26]:
data= {
    'Name': ['Azad','Dhruba','Ankit'],
    'City':['jorhat','Mangaldoi','Guwahati'],
    'ID':[1,2,3]
}

In [27]:
df=pd.DataFrame(data)

In [28]:
df

     Name       City  ID
0    Azad     jorhat   1
1  Dhruba  Mangaldoi   2
2   Ankit   Guwahati   3

In [29]:
a=df

In [30]:
a.shape

(3, 3)

In [31]:
data1=[('Rahul',25,'Nagoan'),
       ('Babul',30,'Kamrup'),
       ('Utpal',25,'Karimganj')]

In [32]:
df=pd.DataFrame(data1,columns=['Name','Age','City'])

In [33]:
b=df

In [34]:
b

    Name  Age       City
0  Rahul   25     Nagoan
1  Babul   30     Kamrup
2  Utpal   25  Karimganj

In [35]:
# Create a dataframe from a list of tuples where each tuple consist of student id , stream, Elective id

data2=[('CS24-101','Computer science','CS111'),
      ('CE23-102','Civil Engineering','CE112'),
      ('ME24-103','Mechanical Engineering','ME120')]

In [36]:
df=pd.DataFrame(data2,columns=['Student Id','Stream','Electrive Id'])

In [37]:
df

  Student Id                  Stream Electrive Id
0   CS24-101        Computer science        CS111
1   CE23-102       Civil Engineering        CE112
2   ME24-103  Mechanical Engineering        ME120

In [38]:
a1=np.array([[1,'Alimpika',25],
            [2,'Akbar',30],
            [3,'Akash',35]])

In [39]:
df=pd.DataFrame(a1,columns=['ID','Name','Age'])

In [40]:
df

  ID      Name Age
0  1  Alimpika  25
1  2     Akbar  30
2  3     Akash  35

In [41]:
Names=pd.Series(['Saha','Mazumder','Haque'])
ages=pd.Series([73,36,35])

In [42]:
df=pd.DataFrame({'Name': Names,'Age': ages})

In [43]:
df

       Name  Age
0      Saha   73
1  Mazumder   36
2     Haque   35

In [44]:
Animal=pd.Series(['Elephant','Tiger','Dear'])
weight=pd.Series([4000,350,100])

In [45]:
df=pd.DataFrame({'Animal':Animal,'weight(kg)':weight})

In [46]:
df

     Animal  weight(kg)
0  Elephant        4000
1     Tiger         350
2      Dear         100

In [47]:
data2={
    "Student Id":[201,202,203,204,205,206,207,208,209,210],
    "Name":["Jasmin Das","Violina Dutta","Prastuti Kalita","Utpal Saikia","Abdul Rahman","Jyotirmoy Gogoi","Anurag Barman","Bicky Nath","Rajnish Hazarika","Prakash Deka"],
    "Age":[22,23,22,24,25,23,22,24,23,22],
    "...":['...','...','...','...','...','...','...','...','...','...'],
    "Enrollment Date":["2024-01-10","2024-02-15","2024-03-20","2024-04-05","2024-05-01","2024-06-12","2024-07-12","2024-08-14","2024-09-18","2024-10-20"],
    "Grade":["A","B+","A-","B","A+","B+","A-","A-","B+","A"],
    "Attendence(%)":[95,88,92,85,97,90,93,86,91,94],
    
    
}

In [48]:
df = pd.DataFrame(data2) 
df.to_csv('D:/python/Dataframe.csv', index=False)
df.head()

OSError: Cannot save file into a non-existent directory: 'D:\python'

In [ ]:
df.head()

# QUESTION #

In [ ]:
data_set1={
    "Product_ID":[101,102,103,104,105,106,107,108,109,110],
    "Product_Name":["BMW","Splender","Bat","Elephant","Milk","Oracle","CPU","Dog","Cocacola","GTA5"],
    "Category":["Cars","Bikes","sports","Animals","Food","Software","Hardware","Pets","Drinks","VideoGames"],
    "Price_priority":[40,15,7,70,2,100,10,10,2,5],
    "Stock_Quantity":[20,40,50,4,40,1,10,80,100,34],
    "Stock_price":[200,240,130,543,675,273,183,10,80,588],
    
    
}

In [ ]:
df = pd.DataFrame(data_set1) 
df.to_csv('D:/python/Stock_Dataset.csv', index=False)

In [ ]:
df.head()

In [ ]:
df['duhioho']=df['Stock_Quantity'] * df['Stock_price']

In [ ]:
a=df['duhioho']

In [ ]:
a

In [ ]:
x=pd.DataFrame({
    'Azad':[1,2,3,4,5]
})

In [ ]:
x

In [ ]:
x.dtypes